body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  margin: 10;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
