.footer {
  background-color: rgb(38, 37, 37);
}
.footer_container {
  max-width: 90%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer_title {
  margin: 0;
}
.footer_heading {
  margin: 0;
  line-height: 0;
  color: white;
  font-size: 20px;
}
a {
  color: white;
}

.footer_desription {
  color: #ccc;
}
